<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rems" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Rems">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">

        <%= link_to "REMS", root_path, class: "navbar-brand" %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
          <ul class="navbar-nav me-auto">

            <li class="nav-item">
              <%= link_to "Properties", properties_path, class: nav_link_class(properties_path) %>
            </li>

            <% if logged_in? %>

              <% if !current_user.administrative_staff? %>
                <li class="nav-item">
                  <%= link_to "Appointments", appointments_path, class: nav_link_class(appointments_path) %>
                </li>

                <li class="nav-item">
                  <%= link_to "Leases", lease_agreements_path, class: nav_link_class(lease_agreements_path) %>
                </li>
                
                <li class="nav-item">
                  <%= link_to "Rental Applications", lease_applications_path, class: nav_link_class(lease_applications_path) %>
                </li>
              <% end %>

              <% if current_user.leasing_agent? %>
                <li class="nav-item">
                  <%= link_to "My Availability", availabilities_path, class: nav_link_class(availabilities_path) %>
                </li>
              <% end %>

              <li class="nav-item">
                <%= link_to "Leases", lease_agreements_path, class: nav_link_class(lease_agreements_path) %>
              </li>
              
              <% if current_user %>
                <li class="nav-item">
                  <%= link_to "Maintenance", maintenance_requests_path, class: "nav-link" %>
                </li>
              <% end %>

              <% if current_user.tenant? %>
                <li class="nav-item">
                  <%= link_to "My Account", account_path(current_user.account), class: nav_link_class(account_path(current_user.account)) %>
                </li>
              <% end %>

              <% if current_user.administrative_staff? %>
                <li class="nav-item">
                  <%= link_to "Accounts", accounts_path, class: nav_link_class(accounts_path) %>
                </li>
              <% end %>
            <% end %>

          </ul>

          <ul class="navbar-nav ms-auto">

            <% if logged_in? %>
              

              <li class="nav-item">
                <% if current_user.tenant? %>
                  <%= link_to "#{current_user.name} (#{current_user.role.humanize})", account_path(current_user.account), class: nav_link_class(account_path(current_user.account)) %>
                <% else %>
                  <%= link_to "#{current_user.name} (#{current_user.role.humanize})", accounts_path, class: nav_link_class(accounts_path) %>
                <% end %>
              </li>

              <li class="nav-item">
                <%= button_to "Logout",
                    logout_path,
                    method: :delete,
                    class: "btn btn-outline-light btn-sm" %>
              </li>

            <% else %>

              <li class="nav-item">
                <%= link_to "Login", login_path, class: "btn btn-outline-light btn-sm" %>
              </li>

            <% end %>

          </ul>
        </div>

      </div>
    </nav>

    <div class="container mt-4">

      <% if notice %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger">
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>

    </div>

</body>
</html>
